---
layout: core/page
---

<div class="col-md-12 text-center">
{% if site.ads.search.premium %}
<!-- Yandex.Premium {{ site.ads.search.premium }} -->
<div id="yandex_direct_{{ site.ads.search.premium }}"></div>
<script type="text/javascript">
    (function(w, d, n, s, t) {
        w[n] = w[n] || [];
        w[n].push(function() {
            Ya.Context.AdvManager.render({
                blockId: "{{ site.ads.search.premium }}",
                renderTo: "yandex_direct_{{ site.ads.search.premium }}",
                searchText: "поисковый запрос",
                searchPageNumber: 1
            });
        });
        t = d.getElementsByTagName("script")[0];
        s = d.createElement("script");
        s.type = "text/javascript";
        s.src = "//an.yandex.ru/system/context.js";
        s.async = true;
        t.parentNode.insertBefore(s, t);
    })(this, this.document, "yandexContextAsyncCallbacks");
</script>
{% endif %}
{% if site.ads.search.direct %}
<!-- Yandex.Direct {{ site.ads.search.direct }} -->
<div id="yandex_direct_{{ site.ads.search.direct }}"></div>
<script type="text/javascript">
    (function(w, d, n, s, t) {
        w[n] = w[n] || [];
        w[n].push(function() {
            Ya.Context.AdvManager.render({
                blockId: "{{ site.ads.search.direct }}",
                renderTo: "yandex_{{ site.ads.search.direct }}",
                searchText: "поисковый запрос",
                searchPageNumber: 1
            });
        });
        t = d.getElementsByTagName("script")[0];
        s = d.createElement("script");
        s.type = "text/javascript";
        s.src = "//an.yandex.ru/system/context.js";
        s.async = true;
        t.parentNode.insertBefore(s, t);
    })(this, this.document, "yandexContextAsyncCallbacks");
</script>
{% endif %}
</div>
<div class="col-md-12" id="ya-site-results" onclick="return {'tld': 'ru','language': 'ru','encoding': 'utf-8','htmlcss': '1.x','updatehash': true}"></div>

<script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0];s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Results.init();})})(window,document,'yandex_site_callbacks');</script>
