{% if page.author %}
{% assign author = site.authors | where: "char", page.author | first %}
{% endif %}
{% assign actual = page.actual | default: site.defaultActualAddon %}
{% assign related = page.related | default: "specs-only" %}
<div class="alert text-white bg-dark" role="alert">
    <div class="row">
        <div class="col-md-4 text-left">
            Актуально для: 
            {% for item in actual %}
            <span class="badge badge-light badge-lg">{{ item }}</span>
            {% endfor %}
        </div>
        <div class="col-md-4 text-center">
            &raquo;{{ page.title }}&laquo;
            {% unless page.related == false %}
            {% include related.html type=related %}
            {% endunless %}
            <a href="https://github.com/{{ site.github }}/tree/master/{{ page.path }}" class="alert-link d-none" rel="nofollow" target="_blank">Предложить изменение</a>
        </div>
        <div class="col-md-4 text-right">
            Автор: <a href="https://worldofwarcraft.com/ru-ru/character/{{ author.realm | default: site.realm }}/{{ author.char }}" class="alert-link" target="_blank" rel="nofollow" title="{{ author.description }}">{{ author.name | default: author.char }}</a>
        </div>
    </div>
</div>
