{% if include.when %}
{% assign affixes = include.when | mythicAffixes %}
{% else %}
{% assign affixes = "now | mythicAffixes %}
{% endif %}

<div class="row text-center">
    {% for id in affixes %}
    {% assign affix = site.data.affixes.list | where: 'id', id %}
    <div class="col">
        <a href="https://ru.wowhead.com/affix={{ id }}" data-wh-rename-link="false"><img src="/assets/img/affixes/{{ id }}.jpg" class="rounded" width="36px"/></a><br />
        <a href="https://ru.wowhead.com/affix={{ id }}">{{ affix[0].name }}</a>
    </div>
    {% endfor %}
</div>
