{% if include.blocks %}
{% assign blocks = include.blocks | plus: 0 %}
{% else %}
{% assign blocks = site.data.nav.wiki | size %}
{% endif %}

{% case include.view %}

{% when 'horizontal' %}
<div class="row container-fluid" style="padding-top: 100px;">
    {% for item in site.data.nav.wiki | limit: blocks %}
    <div class="col">
        <h3 class="header">{{ item.title }}</h3>
        {% if item.items[0] %}
        <ul class="wiki-menu">
            {% for entry in item.items %}
            <li><b><a class="{% if entry.class %}{{ entry.class }}{% endif %}" href='{{ entry.url | canonical }}'>{{ entry.title }}</a></b>
            {% if entry.items[0] %}
            {% for subentry in entry.items %}
            <a class="{% if subentry.class %}{{ subentry.class }}{% endif %}" href='{{ subentry.url | canonical }}'>{{ subentry.title }}</a>
            {% endfor %}
            {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% when 'vertical' %}
{% for item in site.data.nav.wiki | limit: blocks %}
<h3 class="{% unless forloop.first %}pt-4{% endunless %} text-center {% if item.class %}{{ item.class }}{% endif %}">{{ item.title }}</h3>
{% if item.items[0] %}
<ul>
            {% for entry in item.items %}
            <li><b><a class="{% if entry.class %}{{ entry.class }}{% endif %}" href='{{ entry.url | canonical }}'>{{ entry.title }}</a></b>
            {% if entry.items[0] %}
            {% for subentry in entry.items %}
            <a class="{% if subentry.class %}{{ subentry.class }}{% endif %}" href='{{ subentry.url | canonical }}'>{{ subentry.title }}</a>
            {% endfor %}
            {% endif %}
            </li>
            {% endfor %}
</ul>
{% endif %}
{% endfor %}
<a href="/wiki" class="text-muted float-right">Больше в Базе Знаний</a>

{% when 'amp' %}
{% for item in site.data.nav.wiki | limit: blocks %}
<h4>{{ item.title }}</h4>
{% if item.items[0] %}
<ul class="list-reset m1 mb2 p0 ampstart-label">
    {% for entry in item.items %}
    <li class="ampstart-nav-item ml1 mt1">
        <a href='{{ entry.url | canonical: 'amp' }}' class="ampstart-nav-link">{{ entry.title }}</a>
    </li>
    {% if entry.items[0] %}
    {% for subentry in entry.items %}
    <li class="ampstart-nav-item ml2">
        <a href='{{ subentry.url | canonical: 'amp' }}' class="ampstart-nav-link">&raquo; {{ subentry.title }}</a>
    </li>
    {% endfor %}
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endcase %}
