/* Show it is fixed to the top */
body {
    padding-top: 4.5rem;
    font-family:Arial,Helvetica,sans-serif !important;
    font-weight: 400 !important;
    background: url("/assets/img/bg.jpg") repeat-y bottom center #120d0a;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-family: 'Cuprum', sans-serif;
    font-weight: 700 !important;
    color: #fff !important;
}
h5, h6, b, strong {
    font-size: 1.3rem;
}

/** Global links style **/
a {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top,#ede0c9 20%,#8a7e66 100%);
    background-size: 1.3em 1.3em;
    background-position: top;
    color: #ede0c9 !important;
    font-weight: 700 !important;
}
a:hover {
    color: #fff;
    background-image:-webkit-linear-gradient(top,#fff,#fff)
}

i, em {
    color: rgba(255, 255, 255, 0.55) !important;
}

/** Background with art in top left corner **/
.bg-img {
    background: url(/assets/img/bg.main.jpg) top center no-repeat #120d0a;
}

/* Header bg */
.navbar-desktop {
    background: url("/assets/img/bg.nav.png") no-repeat top center transparent;
    min-height:70px;
}

/* Header links */
.nav-item {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top,#ede0c9 20%,#8a7e66 100%);
    background-size: 1.3em 1.3em;
    background-position: top;
    color: #ede0c9;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-item:hover {
    color: #fff;
    background-image:-webkit-linear-gradient(top,#fff,#fff)
}

/** WoW-styled button **/
.btn-wow {
    background: url(/assets/img/btn-wow.png) no-repeat 0 0 transparent;
    height: 108px;
    width: 295px;
    line-height: 90px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: 1px 1px #fff;
}
.btn-wow:hover {
    background-position: 0 -109px;
    line-height: 91px;
    color: #000;
}
.btn-wow:active,
.btn-wow:focus {
    background-position: 0 -219px;
    line-height: 93px;
}

/** Sidebar menu **/
.bg-menu, .bg-block {
    background: url(/assets/img/line.sm.png) no-repeat top center, url(/assets/img/line.lg.png) no-repeat bottom center;
    padding-bottom: 100px !important;
    padding-top: 50px !important;
}
.bg-block-reverse {
    background: url(/assets/img/line.lg.png) no-repeat top center, url(/assets/img/line.sm.png) no-repeat bottom center;
    padding-top: 100px !important;
    padding-bottom: 50px !important;
}

.bg-menu li,
.bg-block li{
    list-style: none;
}

/** Modal window styling **/
.modal-content {
    background: url(/assets/img/line.lg.png) no-repeat top center, url(/assets/img/bg.jpg) no-repeat bottom center;
    background-position-y: -30px;
    border:0;
    color: white !important;
    padding: 0;
}
.modal-header {
    background: url("/assets/img/line.sm.png") no-repeat bottom center;
    border-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}
.modal-footer {
    background: url("/assets/img/line.sm.png") no-repeat top left, url("/assets/img/line.sm.png") no-repeat bottom left;
    border-top: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* <hr> */
hr {
    background: url("/assets/img/line.sm.png") no-repeat top center;
    min-height: 50px;
    padding: 0;
    margin: 0;
}

/* General text color */
.text-gray {
    color: rgba(255, 255, 255, 0.55) !important;
}

/* Guild name */
.jumbotron > h1.text-white {
    font-weight: 700 !important;
}

/* Guild description */
.jumbotron > .lead {
    font-weight: 400 !important;
}

/** markdown > **/
blockquote {
    color: rgba(255, 255, 255, 0.55) !important;
}

/** Wiki **/
.wiki {
    background: url(/assets/img/line.sm.png) no-repeat top center, url(/assets/img/line.lg.png) no-repeat bottom center;
    padding-bottom: 100px !important;
    padding-top: 50px !important;
    color: #c6c6c6 !important;
}
/* Wiki text */
.wiki p,
.wiki li,
.wiki td {
    font-weight: 400 !important;
    font-size: 1.25rem;
}

/* Wiki links in text */
.wiki a {
    /*color: #bd2130 !important;*/
}

.wiki img {
    max-width: 100%;
    height: auto;
    margin-left: auto!important;
    margin-right: auto!important;
    display: block!important;
}

.wiki table {
    background-color: transparent;
    /*border: 1px solid #dee2e6;*/
    border-collapse: collapse;
    display: block;
    margin-bottom: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 100%;
}

.wiki th,
.wiki td {
    vertical-align: bottom;
    border: 1px solid #dee2e6;
    padding: .75rem;
}

pre code {
    color: #fff;
    word-break: break-word;
}
code .c {
    color: rgba(255, 255, 255, 0.55) !important;
}
