/* Show it is fixed to the top */
body {
    padding-top: 4.5rem;
    font-family:Arial,Helvetica,sans-serif !important;
    /*font-weight: 400 !important;*/
    background: url("/assets/img/bg.jpg") repeat-y bottom center #120d0a;
}

.no-webp body {
    background: url("/assets/img/bg.jpg") repeat-y bottom center #120d0a;
}

.webp body {
    background: url("/assets/img/bg.webp") repeat-y bottom center #120d0a;
}

.bg-black {
    background-color: #120e0b;
}

.no-webp .home-central {
    background: url(/assets/img/logo.png) no-repeat top right;
}
.webp .home-central {
    background: url(/assets/img/logo.webp) no-repeat top right;
}
h1 {
    font-size: 2em;
}

.index h1, .index h2, .index h3, .index h4, .index h5{
    font-weight: lighter !important;
}

h1, h2, h3, h4, h5, h6, b, strong, .b-serp-item__number {
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: #fff !important;
}
h5, h6, b, strong, .b-serp-item__number {
    font-size: 1.3rem !important;
}

.color-wow {
    background-color: #2b374c;
    color: #f4bf2a;
}

.color-wow:hover, .color-wow:focus {
    text-decoration: none;
    background-color: #002650;
    color: #f4bf2a;
}

.wiki-menu {
    list-style: none;
    padding-left: 0;
}


.live-icon {
    color: #dc3545;
    font-size: 3rem;
    font-weight: bold;
    line-height: 0.5rem;
    vertical-align: middle;
    animation: liveblinker 0.75s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes liveblinker {
    from { opacity: 1; }
    to { opacity: 0; }
}

.card-title {
    font-weight: lighter;
}

picture {
    vertical-align: middle;
    display: inline-block;
}

.img-thumbnail {
    background-color: #f00;
    border: 1px solid #ffc107;
}

yass-span, a.nav-link {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top,#ede0c9 20%,#8a7e66 100%);
    background-size: 1.3em 1.3em;
    background-position: top;
    font-weight: 700 !important;
}

yass-span:hover, a.nav-link:hover {
    background-image:-webkit-linear-gradient(top,#fff,#fff)
}

/** Global links style **/
a {
    color: #ede0c9;
}
a:hover {
    color: #fff;
}

i, em {
    color: rgba(255, 255, 255, 0.55) !important;
}

.no-webp .bg-img-red {
    background: url("/assets/img/bg.red.jpg") no-repeat top left #120d0a;
}

.webp .bg-img-red {
    background: url("/assets/img/bg.red.webp") no-repeat top left #120d0a;
}

/* Header links */
.nav-item {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top,#ede0c9 20%,#8a7e66 100%);
    background-size: 1.3em 1.3em;
    background-position: top;
    color: #ede0c9;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-item:hover {
    color: #fff;
    background-image:-webkit-linear-gradient(top,#fff,#fff)
}

/** Search **/
.b-serp-list {
    padding-bottom: 100px !important;
    padding-top: 50px !important;
}
.no-webp .b-serp-list {
    background: url(/assets/img/line.sm.png) no-repeat top center, url(/assets/img/line.lg.png) no-repeat bottom center;
}
.webp .b-serp-list {
    background: url(/assets/img/line.sm.webp) no-repeat top center, url(/assets/img/line.lg.webp) no-repeat bottom center;
}

.b-serp-item {
    padding-bottom: 50px !important;
}
.no-webp .b-serp-item {
    background: url(/assets/img/line.sm.png) no-repeat bottom center;
}
.webp .b-serp-item {
    background: url(/assets/img/line.sm.webp) no-repeat bottom center;
}
#ya-site-results .b-serp-item__title-link:link, #ya-site-results .b-serp-item__title-link {
    font-size: 1.3em !important;
}

@media (min-width: 768px) {
    .b-wrapper {
        margin-left: 16.666667%;
    }
}
@media (min-width: 992px) {
    .b-wrapper {
        margin-left: 25%;
    }
}

/* <hr> */
hr {
    min-height: 50px;
    padding: 0;
    margin: 0;
}
.no-webp hr {
    background: url("/assets/img/line.sm.png") no-repeat top center;
}
.webp hr {
    background: url("/assets/img/line.sm.webp") no-repeat top center;
}

hr.lg {
    position: relative;
    min-height: 100px;
    z-index: 50;
}

.no-webp hr.lg {
    background: url("/assets/img/line.lg.png") no-repeat top center;
}

.webp hr.lg {
    background: url("/assets/img/line.lg.webp") no-repeat top center;
}

/* General text color */
.text-gray {
    color: rgba(255, 255, 255, 0.55) !important;
}

/* Guild name */
.jumbotron > h1.text-white {
    font-weight: 700 !important;
}

/* Guild description */
.jumbotron > .lead {
    font-weight: 400 !important;
}

/** markdown > **/
blockquote {
    color: rgba(255, 255, 255, 0.55) !important;
}

/** Wiki **/
.wiki {
    background: transparent;
    padding-bottom: 0px !important;
    padding-top: 50px !important;
    color: #c6c6c6 !important;
}
/* Wiki text */
.wiki p,
.wiki li,
.wiki td {
    font-weight: 400 !important;
    font-size: 1.25rem;
}

a.wiki-header-link {
    background: none;
    color: #fff !important;
    -webkit-text-fill-color: inherit;
}
a.wiki-header-link:hover {
    background: none;
}

.wiki img {
    max-width: 100%;
    height: auto;
    margin-left: auto!important;
    margin-right: auto!important;
    display: block!important;
}

.wiki table {
    background-color: transparent;
    border-collapse: collapse;
    display: block;
    margin-bottom: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 100%;
}

.wiki th,
.wiki td {
    vertical-align: bottom;
    border: 1px solid #dee2e6;
    padding: .75rem;
}

pre code {
    color: #fff;
    word-break: break-word;
}
code .c {
    color: rgba(255, 255, 255, 0.55) !important;
}
