---
title: Медиа
metatitle: Фото, видео, стримы игроков из Ясного Леса
layout: wiki
related: false
actual:
- ВСЕГДА
---
<div class="row text-center amp-mt-iframe">
    {% for user in site.data.media.stream.users %}
    <div class="col-xl-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.twitch.tv/?channel={{ user }}" class="embed-responsive-item img-thumbnail" allowfullscreen></iframe>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row mt-5 mb-5">
    <div class="col-xl-12 text-center">
        <h3>
            Хочешь начать стримить?
            <a href="{{ site.data.media.stream.kit }}" target="_blank" class="btn btn-lg btn-outline-warning">Гайд и набор стримера</a>
        </h3>
    </div>
</div>
<div class="row text-center">
    {% for album in site.data.media.albums %}
    <div class="col-xl-4">
        <a href="{{ album.url }}" target="_blank" title="{{ album.name }}"><img src="{{ album.cover }}" class="img-thumbnail"></a>
    </div>
    {% endfor %}
</div>
