---
layout: default
---
<div class="row">

    <div class="jumbotron col-md-3 bg-transparent d-none d-md-block">
        <p class="lead">&nbsp;</p>
        <p class="lead">
        <img alt="Ясный Лес" src="assets/img/logo.png" class="rounded float-right"/>
        </p>
    </div>

    <div class="jumbotron bg-transparent col-md-6 col-sm-12">
        <h1 class="text-white">Ясный Лес {% if site.rt.date %}<a href="#" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#rtModal">Время Рейда</a>{% endif %}</h1>
        <p class="lead text-gray">Гильдия World of Warcraft &bull; Галакронд &bull; PvE</p>
        <p class="lead text-white">
        <b>Да</b>, гильдия живая.<br>
        <b>Да</b>, мы <a href="https://nikitachernyi.typeform.com/to/XRk6Ry" target="_blank" class="typeform-share text-danger button" data-mode="popup">набираем статик</a>.<br>
        <b>Да</b>, мы постоянно ходим в рейды.<br>
        <b>Да</b>, мы постоянно ходим в эпохальные+ подземелья.<br>
        <b>Да</b>, мы помогаем новичкам - подземелья, рейды, фронты, реагенты, шмот.<br>
        <span class="text-gray"><b>Да</b>, мы захватим Азерот. <i>Но это не точно</i></span>
        </p>
        <h1 class="text-gray">Хочешь с нами?</h1>
        <p class="lead text-white">
        Читай <a href="/wiki" class="text-danger">вики</a>,
        заходи в <a href="https://discord.gg/pjAp9gN" target="_blank" class="text-warning">discord</a>.<br>
        <span class="text-gray">За постоянное нахождение в дискорде у нас предусмотрены различные плюшки (зашел в игру = зашел в дискорд)</span>
        </p>
    </div>

    <div class="jumbotron col-md-3 bg-transparent d-none d-md-block">
        <p class="lead">&nbsp;</p>
        <p class="lead"><img alt='WoW Guild Rankings' src='https://wowprogress.com/guild_img/1665634/out/type.site/guild_rank.realm'/></p>
    </div>

</div>
