---
layout: core/page
---
<nav class="bg-img-red d-none d-md-block">
    <hr class="lg" style="top:-40px">
    {% include menu.html view="horizontal" %}
    <hr class="lg" style="transform: scaleY(-1);bottom:-20px">
</nav>

<main class="container-fluid">
<div class="row">
    <button class="btn btn-wow d-md-none mx-auto" type="button" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="menu">меню</button>
    <div class="col-sm-12 mt-4 ml-2  d-md-none collapse" id="menu">
        <hr class="lg" style="bottom:-35px">
        {% include menu.html view="vertical" %}
        <hr class="lg" style="transform: scaleY(-1)">
    </div>

    <div class="jumbotron wiki text-white col-md-12 mb-0">
        <a href="https://github.com/{{ site.github }}/tree/master/{{ page.path }}" class="float-right badge badge-dark">Изменить</a>
        {{ content }}
        {% if page.author %}
        <span class="float-left">Автор: <a href="https://worldofwarcraft.com/ru-ru/character/{{ site.realm }}/{{ page.author }}" class="badge badge-secondary" target="_blank">{{ page.author }}</a></span>
        {% endif %}
        <a href="https://github.com/{{ site.github }}/tree/master/{{ page.path }}" class="float-right badge badge-dark" target="_blank">Изменить</a>
    </div>
    <hr class="lg" style="width: 100%;">
    <div class="col-md-10 offset-md-1" id="disqus_thread"></div>
    <hr class="lg" style="width: 100%; transform: scaleY(-1)">
</div>
